{{ define "main" }}
<script
  defer
  data-domain="tweetnfts.xyz"
  data-api="/something/api/event"
  src="/something/js/script.js"
></script>

<script src="/emojis.js"></script>

<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">TweetNFTs</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">Collect, back up and mint tweets as NFTs.</p>
      <a
        class="btn btn-primary btn-lg px-4 mb-2 emoji-button button-85"
        role="button" href="https://app.tweetnfts.xyz/"
        >Mint Tweets as NFTs</a
      >
      <p class="meta">Open-source MIT Licensed.</p>
    </div>
  </div>
</section>
{{ end }} {{ define "sidebar-prefooter" }} {{ if eq $.Site.Language.LanguageName
"English" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">🔒 Secure</h2>
        <p>
          Based on <a href="https://www.openzeppelin.com/">OppenZeppelin</a>'s
          ERC 1155 implementation, your tweets are securely stored on the chain,
          with the data being stored on
          <a href="https://ipfs.io">IPFS</a>, a decentralized storage system.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">🎯 Direct On-chain Representation</h2>
        <p>
          Once your tweet is minted as an NFT, its number of likes, comments,
          etc. will show up on websites like
          <a href="https://opensea.io">OpenSea</a> as traits.
					Your NFT is a
          direct on-chain representation of your tweet.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">🧬 Evolving NFTs</h2>
        <p>
          As your tweet gets more likes, comments, etc. the traits of your NFT
          evolve too.
					If you get a new like, for example, this will be reflected
          in the "like" trait of your NFT.
        </p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">🖼️ Display</h2>
        <p>
          Your NFT shows up as a beautiful image of your tweet, allowing you to
          quickly see which tweet is which in your collection and show it off to
          your friends.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">🗃️ Back up and collect tweets</h2>
        <p>
          You can mint any tweet, including tweets that are not your own,
          allowing you to collect or back up tweets from your favorite
          Twitteratis.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">🤖 Powered by AI</h2>
        <p>
          We use GPT4 to summarize your tweet in a few words, and use it as your
          NFT's title.
					This allows you to quickly filter through tweets based on
          their subject.
        </p>
      </div>
    </div>
  </div>
</section>
<hr />
<section class="section section-open-collective mt-3 bg-light py-5">
  <div class="container">
    <h2 class="h3 mt-0 text-center">Ready to get started?</h2>
		</br>
    <p class="text-center">
      It only takes two clicks to transform your tweet into an NFT!
    </p>
    <p class="text-center mb-0 mt-4">
      <a
        class="btn btn-primary btn-lg px-4 mb-2 button-85"
        role="button" href="https://app.tweetnfts.xyz/"
        >Mint Tweets as NFTs</a
      >
    </p>
  </div>
</section>
<hr />
<section class="section section-sm mt-3 pt-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <h2 class="h3 mt-3 text-center">FAQ</h2>
        <div class="card-list">
          <div class="card">
            <div class="card-body">
							<h5>Can a tweet be minted multiple times as an NFT?</h5>
              <p>
							Yes! One same tweet can be minted multiple times as an NFT. This is an example of the beauty of <a href="https://eips.ethereum.org/EIPS/eip-1155" target="_blank">ERC-1155</a>, which enables both fungible and non-fungible tokens to coexist.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5>Are there any fees?</h5>
              <p>
                If you mint tweets one by one, the cost is $10 per tweet.
                However, you can take our Twitterati Mega Pack priced at $100 to
                mint up to 20 tweets at once, offering you a 50% price reduction
                per tweet.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5>Any future functionalities you are working on?</h5>
              <p>
                We are incredibly excited for the future of TweetNFTs, and have a ton of
                new features coming up. These include the launch of a browser
                extension, a Twitter bot, web2 payment gateways, as well as many
                new improvements.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }} {{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">{{- .Content -}}</div>
  </div>
</section>
{{ end }}
